asn1crypto==0.24.0
backports-abc==0.5
certifi==2020.4.5.1
chardet==3.0.4
configparser==3.5.0b2
cryptography==2.6.1
dbus-python==1.2.12
decorator==4.4.2
defusedxml==0.5.0
entrypoints==0.3
enum34==1.1.6
future==0.18.2
futures==3.3.0
idna==2.9
ipaddress==1.0.17
jsonlib==1.6.1
keyring==18.0.1
keyrings.alt==3.1.1
logging==0.4.9.6
pycrypto==2.6.1
PyGObject==3.34.0
pyliblzma==0.5.3
python-telegram-bot==12.6.1
pyxdg==0.25
requests==2.23.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.12.0
SOAPpy==0.12.22
tornado==5.1.1
urllib3==1.25.9
wstools==0.4.3
